@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;}
ul{ list-style:none;}
img{ border:none;}
a{ text-decoration:none;}
body{ font-size:14px; font-family:"Microsoft Yahei";}
.clear{ clear:both;}
.type,.class-btn,.banner,.moreck,.height1,.footer00{ display:none;}
/*头部*/
#header{ width:1100px; margin:25px auto;}
#header .logo{ width:219px; height:64px; float:left;}
#header .tel{ float:right; background:url(../images/tel.jpg) left center no-repeat; padding-left:60px; color:#1664a8; font-size:27px; font-weight:bold;}
#header .tel span{ font-weight:normal; display:block; color:#666666; font-size:14px;}
/*导航*/
#mainnav{ background:#1664a8; height:45px; overflow:hidden;}
#nav{ width:1100px; margin:0px auto;}
#nav ul li{ float:left;}
#nav ul li a{ float:left; font-size:16px; color:#FFF; padding:0px 10px; height:45px; line-height:45px;}
#nav ul li a:hover,#nav ul li.active a{ background:#fbb114;}
/*首页第一部分 产品展示*/
#index1{ width:1100px; margin:47px auto 0px auto;}
.title{ background:#1664a8; height:45px; position:relative;}
.title span{ color:#FFF; font-size:22px; line-height:45px; padding-left:12px;}
.title a{ position:absolute; right:12px; top:15px; color:#FFF; font-size:14px;}

.mr_frbox{ width:1100px; height:310px; margin:30px auto 0px auto;}
.mr_frBtnL{float:left; margin:100px 27px 0px 0px; cursor:pointer; display:inline;}
.mr_frBtnR{float:right; margin:100px 0px 0px 0px; cursor:pointer; display:inline;}
.mr_frUl{float:left; width:970px; height:310px;}
.mr_frUl ul li{display:inline; float:left; height:310px; width:212px; margin:0px 15px; overflow:hidden; }
.mr_frUl ul li img{display:block; height:270px; width:210px; object-fit: cover; border:1px solid #a09a9a;}
.mr_frUl ul li .wenzi{ width:100%; color:#000000; font-size:14px; margin-top:10px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.mr_frUl ul li a:hover img{ border:1px solid #1664a8;}
.mr_frUl ul li a:hover .wenzi{ color:#1664a8;}
/*首页第二部分 广告*/
#index2bg{ background:#1664a8; padding:27px 0px; margin-top:37px;}
#index2{ width:978px; margin:0px auto; border:1px solid #dc6878; border-radius:8px; text-align:center; color:#FFF; font-size:24px; padding:12px 0px;}
#index2 span{ display:block; font-size:16px; padding-top:6px;}
/*首页第三部分 产品优势*/
#index3bg{ background:#f6f6f6; padding:36px 0px 55px 0px;}
#index3{ width:1000px; margin:0px auto;}
.title1{ width:325px; margin:0px auto 15px auto;}
.title1 .title-wp{ display:inline; float:left; font-size:128px; font-family:Times New Roman; color:#1664a8;}
.title1 .title-yp{ display:inline; float:left; font-size:50px; color:#333366;}
.title1 .title-yp span{ display:block; font-size:24px; color:#ffb821; font-weight:bold;  padding-top:38px;}

#index3 dl{ margin:35px 0px;}

#index3 dl.one dt{ float:left; margin-left:90px;}
#index3 dl.one dd{ float:right; width:484px; margin-top:30px;}
#index3 dl dd .shuimg{ width:75px; float:left;}
#index3 dl dd .ddright{ width:392px; float:right;}
#index3 dl dd .ddright .dd-tit{ color:#666; font-size:24px; font-weight:590; border-bottom:1px solid #d9d9d9; padding-bottom:14px;}
#index3 dl dd .ddright .dd-tit span{ color:#1664a8; display:block; padding-bottom:3px;}
#index3 dl dd .ddright p{ font-size:14px; color:#8f8f8f; padding-top:14px; line-height:150%;}

#index3 dl.two dt{ float:right; margin-right:40px;}
#index3 dl.two dd{ float:left; width:484px; margin-top:20px;}

#index3 dl.three dt{ float:left; margin-left:120px;}
#index3 dl.three dd{ float:right; width:484px; margin-top:20px;}

#index3 dl.four dt{ float:right;}
#index3 dl.four dd{ float:left; width:484px; margin-top:20px;}
/*首页第四部分  关于我们*/
#index4bg{ background:#1664a8; padding:111px 0px 49px 0px;}
#index4{ width:1100px; margin:0px auto; background:#FFF; height:340px;}
#index4 .aboutimg{ width:487px; height:350px; overflow:hidden; object-fit:cover; border:6px solid #ebe9ec; margin-top:-47px; margin-left:17px; float:left;}
.index4about{ float:right; width:532px; margin-right:17px;}
.index4about .title2{ color:#333333; font-size:24px; font-family:Times New Roman; font-weight:590; padding-top:35px;}
.index4about .title2 span{ display:block; width:52px; height:2px; background:#1664a8; margin-top:10px;}
.aboutnr{ font-size:14px; color:#5e5d5d; height:150px; height:155px !important; overflow:hidden; line-height:160%; margin-top:17px;}
#index4 .more{ width:135px; height:34px; background:#d7d5d6; text-align:center; line-height:34px; font-size:14px; color:#000; float:right; margin:28px 17px 0px 0px;}
#index4 .more:hover{ background:#fbb114; color:#FFF;}
/*首页第五部分  合作案例*/
#index5bg{ background:#f3f3f3; padding:39px 0px 40px 0px;}
#index5{ width:1100px; margin:0px auto;}
.title3{ text-align:center; color:#000000; font-size:30px; font-weight:bold;}
.title3 span{ display:block; font-weight:normal; color:#9b9999; font-size:18px;}
#index5 ul{ margin-top:25px;}
#index5 ul li{ float:left; width:197px; margin:0px 11px; }
#index5 ul li img{display:block; height:250px; width:195px; object-fit: cover; border:1px solid #a09a9a;}
#index5 ul li .wenzi{ width:100%; color:#000000; font-size:14px; margin-top:10px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#index5 ul li a:hover img{ border:1px solid #1664a8;}
#index5 ul li a:hover .wenzi{ color:#1664a8;}
.more1{ width:120px; height:38px; border:1px solid #adacac; text-align:center; color:#9b9999; font-size:14px; display:block; line-height:38px; margin:25px auto 0px auto;}
.more1:hover{ background:#fbb114; color:#FFF;}
/*首页第六部分 新闻动态*/
#index6{ width:1100px; margin:47px auto 0px auto;}
#index6left{ width:725px; float:left;}
.title4{ border-bottom:1px solid #ededed; position:relative; color:#333333; font-size:28px; padding-bottom:15px;}
.title4 span{ color:#888888; font-size:16px; display:block;}
.title4 a{ position:absolute; right:0px; top:38px; color:#555555; font-size:14px;}
#index6 ul{ margin-top:35px;}
#index6 ul li{ margin:18px 0px;}
#index6 ul li font{ float:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:70%;}
#index6 ul li font a{ font-size:14px; color:#555555;}
#index6 ul li font a:hover{ color:#1664a8; text-decoration:underline;}
#index6 ul li span{ float:right; font-size:12px; color:#888888;}
.index6righ{ float:right; width:290px;}
/*底部*/
#footerbg{ background:#000000; margin-top:47px; padding:35px 0px;}
#footer{ width:1100px; margin:0px auto;}
#footer ul{ text-align:center;}
#footer ul li{ display:inline;}
#footer ul li a{ display:inline; color:#e4e3e3; margin:0px 12px; font-size:14px;}
#footer ul li a:hover,#footer p a:hover{ text-decoration:underline; color:#ffffff;}
#footer .one1{ border-top:1px solid #4e4e4e; margin-top:30px; padding-top:25px;}
#footer p{ color:#e4e3e3; font-size:14px; text-align:center; line-height:190%; font-family:Arial, Helvetica, sans-serif,"Microsoft Yahei";}
#footer span,#footer font{ margin:0px 8px;}
#footer p a{color:#e4e3e3;}

#zybanner{ width:100%; height:370px;}
#zybanner img{ overflow:hidden; text-align:center; object-fit: cover;  display:block; width:100%; height:370px;}
#containter{ width:1100px; margin:47px auto 0px auto;}
/*内页左侧*/
#left{ width:225px; float:left;}
.product_class_list {  width:100%;  background:#efefef; padding-bottom:25px;}
.product_class_list h3 { height:52px; background:#1664a8; font-size:24px;  font-weight:normal; color:#fff; text-align:center; line-height:52px;border-bottom: 1px solid #fff;}
.product_class_list h3 span { color:#999; font-size:14px; margin-left:5px; vertical-align:top;}
.product_class_list ul { margin-top:10px;}
.product_class_list li { border-bottom:1px solid #e1e0e0; line-height:45px;}
.product_class_list li a { color:#666; font-size:14px; display:block;  padding:0 13px;}
.product_class_list li a:hover,.product_class_list li.active a{ color:#fff; background:#1664a8;}


/*内页右侧*/
#right{ width:844px; float:right;}
.nview img{ max-width:100%;}
.content_com_title{ position:relative;  height:45px;  margin-bottom:15px; border-bottom:2px solid #d0d0d0;}
.content_com_title h2{   display:inline-block;   padding:0  6px 6px 6px;  position:absolute;  left:0; top:10px;  border-bottom:2px solid #1664a8;
font-size:22px; font-weight:normal; color:#333333; text-align:left;}
.bread{ color:#666666; float:right; line-height:45px;}
.bread a{  display:inline-block;  color:#666666;}

/*关于我们*/
#view{ font-size:14px; color:#666666; line-height:180%; margin-top:25px;}
/*新闻中心*/
#newslist li{ border-bottom:1px dashed #999999; height:40px; line-height:40px; }
#newslist li font{ float:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:70%;}
#newslist ul li font a{ font-size:14px; color:#555555;}
#newslist ul li font a:hover{ color:#1664a8; text-decoration:underline;}
#newslist ul li span{ float:right; font-size:14px; color:#888888;}
/*新闻内页*/
.ntitle{ color:#333; font-size:24px; text-align:center; padding-top:33px;}
.ntime{ text-align:center; color:#6c6c6c; font-size:14px; border-top:1px solid #e6e8e9; padding-top:8px; margin-top:18px;}
.nview{ color:#333333; font-size:14px; line-height:190%; padding-top:28px;}
.page{width:100%; overflow: hidden; border-top:1px dashed #c2c1c1; margin-top:30px; padding-top:20px; }
.page p{width:100%; font-size:14px; color:#1d1d1d; margin:5px 0px; white-space:nowrap;  overflow:hidden; text-overflow:ellipsis;}
.page p a{color:#1d1d1d}
.page p a:hover{text-decoration: underline; color:#1664a8;}
/*分页*/
.pglist{ margin-top:30px; color:#666666; text-align:center; font-size:14px;}
.pglist a{ color:#666666;}
/*产品展示*/
.productlist{ margin-top:20px;}
.productlist li{display:inline; float:left; width:197px; margin:15px 7px; overflow:hidden; }
.productlist li img{display:block; height:250px; width:195px; object-fit: cover; border:1px solid #a09a9a;}
.productlist li .wenzi{ width:100%; color:#000000; font-size:14px; margin-top:10px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.productlist li a:hover img{ border:1px solid #1664a8;}
.productlist li a:hover .wenzi{ color:#1664a8;}


.cpgun{ margin:50px 0px 15px 0px;}
.huandleft{float:left; background:#ffffff; width:350px; height:545px; padding:15px 15px; border:1px solid #CCC; position:relative;}
/* smallImg */
.smallImg{position:relative; height:52px; margin-top:10px; background-color:#F1F0F0; padding:6px 5px; width:340px; overflow:hidden;float:left;}
.scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }
.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(../images/d_08.png) no-repeat;}
.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(../images/d_09.png) no-repeat; margin-left:325px; margin-top:-50px;}
#imageMenu {height:50px; width:300px; overflow:hidden; margin-left:6px; float:left;}
#imageMenu li {height:50px; width:75px; overflow:hidden; float:left; text-align:center;}
#imageMenu li img{width:64px; height:50px;cursor:pointer; object-fit: cover;}
#imageMenu li#onlickImg img, #imageMenu li:hover img{ width:58px; height:44px; border:3px solid #ff6600; object-fit: cover;}
/* bigImg */
.bigImg{position:relative; float:left; width:350px; height:470px; overflow:hidden;}
.bigImg #midimg{width:350px; height:470px; object-fit:cover;}
.bigImg #winSelector{width:200px; height:210px;}
#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
/* bigView */
#bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999; }
#bigView img{position:absolute; object-fit: cover; }

.jieshao{ width:410px; float:right; margin-top:40px;}
.jieshao .cptit h1{ margin:0px; padding-bottom:30px; color:#666666; line-height:35px; font-size:30px; font-weight:bold;}
.jieshao .cpdesc{ overflow:hidden; font-size:14px; line-height:25px; border-bottom:1px dashed #ccc; padding-bottom:20px;}
.jieshao .cpxjanniu{ padding-top:33px;}
.jieshao .cpxjanniu .anniucp a{float:right;width:250px;height:40px;line-height:40px;display:block;background:#ff0000;border-radius:20px;font-size:16px;color:#fff;transition:.5s;text-align:center;}
.jieshao .cpxjanniu .anniucp a:hover{float:right;width:280px;height:40px;background:#000;border-radius:20px;transition:.5s;}
@media only screen and ( max-width:800px ){
		.type,.class-btn,.banner,.moreck,.height1,.footer00{ display:block;}
		img { width: auto; max-width: 100%; }
		html{-webkit-text-size-adjust:none; max-height:100%}
		body{width:100%;background:#fff;height:100%; -webkit-tap-highlight-color: transparent;}
		#mainnav,.flexslider{ display:none;}
		/*头部*/
#header{ width:100%; margin:15px auto;}
#header .logo{ width:50%; height:auto; float:left; margin-left:3%;}
#header .logo img{ width:100%;}
#header .tel{ display:none;}

		/*导航*/
  .type{width:100%; top:80px; position:absolute; background:#232323; overflow-x: hidden; -webkit-overflow-scrolling: touch; -webkit-transition:all 0.3s ease-in-out 0s; -moz-transition:all 0.3s ease-in-out 0s; -ms-transition:all 0.3s ease-in-out 0s; transition:all 0.3s ease-in-out 0s; height:5.5rem; padding:0.1rem 0; display:none; z-index:999;}
.typebg{ width:90%; margin:0px auto;}
.typetitle{ color:#FFFFFF; font-size:0.24rem;}
.typebg ul li{ margin:8px 0px;}
.typebg ul li a{ background:#FFFFFF;  color: #666; display:block; font-size:0.22rem; padding:7px 0px 7px 10px;}
.typebg ul li a:hover,.typebg ul li a.active{ background:#7472a6; color:#FFFFFF;}
.class-btn{position:absolute; right:3%; top:21px; width:18.0625%; font-size:0.32rem; line-height:0.666rem; color:#000; text-align:center; overflow:hidden; cursor:pointer; text-align:right;}

/*首页第一部分 产品展示*/
#index1{ width:94%; margin:35px auto 0px auto;}
.mr_frbox{ height:13em; width:100%; margin:10px auto 0px auto; position:relative;}
.mr_frBtnL{ display:none;}
.mr_frBtnR{ display:none;}
.mr_frBtnL img,.mr_frBtnR img{ width:100%;}
.mr_frUl{float:left; height:10em; width:100%; margin-top:15px;}
.mr_frUl ul li{display:inline; float:left; height:10em; width:25%; margin:0px 0%; overflow:hidden; }
.mr_frUl ul li img{display:block; height:8em; width:93%; object-fit: cover; border:1px solid #a09a9a;}
/*首页第二部分 广告*/
#index2bg{ background:#ce001d; padding:27px 0px; margin-top:37px;}
#index2{ width:94%; margin:0px auto; border:1px solid #dc6878; border-radius:8px; text-align:center; color:#FFF; font-size:22px; padding:12px 0px;}
#index2 span{ display:block; font-size:16px; padding-top:6px;}
/*首页第三部分 产品优势*/
#index3bg{ background:#f6f6f6; padding:36px 0px 30px 0px;}
#index3{ width:94%; margin:0px auto;}
.title1{ width:70%; margin:0px auto 15px auto;}
.title1 .title-wp{ display:inline; float:left; font-size:100px; font-family:Times New Roman; color:#1664a8;}
.title1 .title-yp{ display:inline; float:left; font-size:33px; color:#333366;}
.title1 .title-yp span{ display:block; font-size:24px; color:#ffb821; font-weight:bold;  padding-top:38px;}

#index3 dl{ margin:25px 0px;}

#index3 dl.one dt{ float:none; margin:0px auto; width:70%;}
#index3 dl.one dd{ float:none; width:100%; margin-top:20px;}
#index3 dl dd .shuimg{ width:25%; float:left;}
#index3 dl dd .ddright{ width:73%; float:right;}
#index3 dl dd .ddright .dd-tit{ color:#666; font-size:23px; font-weight:590; border-bottom:1px solid #d9d9d9; padding-bottom:14px;}
#index3 dl dd .ddright .dd-tit span{ color:#1664a8; display:block; padding-bottom:3px;}
#index3 dl dd .ddright p{ font-size:14px; color:#8f8f8f; padding-top:14px; line-height:150%;}

#index3 dl.two dt{ float:none; margin:0px auto; width:75%;}
#index3 dl.two dd{ float:none; width:100%; margin-top:20px;}

#index3 dl.three dt{ float:none; margin:0px auto; width:80%;}
#index3 dl.three dd{ float:none; width:100%; margin-top:20px;}

#index3 dl.four dt{ float:none; margin:0px auto; width:80%;}
#index3 dl.four dd{ float:none; width:100%; margin-top:20px;}
/*首页第四部分  关于我们*/
#index4bg{ background:#1664a8; padding:40px 0px 40px 0px;}
#index4{ width:94%; margin:0px auto; background:#FFF; height:auto; padding-bottom:5%;}
#index4 .aboutimg{ display:none;}
.index4about{ float:none; width:88%; margin:0px auto;}
#index4 .more{ width:135px; height:34px; background:#d7d5d6; text-align:center; line-height:34px; font-size:14px; color:#000; float:right; margin:28px 6% 0px 0px;}
/*首页第五部分  合作案例*/
#index5bg{ background:#f3f3f3; padding:39px 0px 40px 0px;}
#index5{ width:94%; margin:0px auto;}
.title3{ text-align:center; color:#000000; font-size:28px; font-weight:bold;}
#index5 ul{ margin-top:20px;}
#index5 ul li{ float:left; width:18%; margin:0px 1%; }
#index5 ul li img{display:block; height:8em; width:100%; object-fit: cover; border:1px solid #a09a9a;}
#index5 ul li .wenzi{ width:100%; color:#000000; font-size:13px; margin-top:10px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/*首页第六部分 新闻动态*/
#index6{ width:94%; margin:35px auto 0px auto;}
#index6left{ width:100%; float:none;}
.index6righ{ display:none;}
/*底部*/
#footerbg{ background:#000000; margin-top:35px; padding:35px 0px;}
#footer{ width:94%; margin:0px auto;}
#footer ul{ text-align:center;}
#footer ul li{ display:inline-block; margin:5px 0px;}
#footer span,#footer font{ margin:0px 0px; display:block;}

#zybanner{ display:none;}
#containter{ width:96%; margin:35px auto 0px auto;}


/*产品详情页*/
.huandleft{ display:none;}


.jieshao{ width:100%; float:none; margin-top:30px;}
.jieshao .cptit h1{ margin:0px; padding-bottom:30px; color:#666666; line-height:25px; font-size:30px; font-weight:bold;}
.jieshao .cpdesc{ overflow:hidden; font-size:14px; line-height:25px; border-bottom:1px dashed #ccc; padding-bottom:20px;}
.jieshao .cpxjanniu{ padding-top:33px;}
.jieshao .cpxjanniu .anniucp a{float:right;width:250px;height:40px;line-height:40px;display:block;background:#ff0000;border-radius:20px;font-size:16px;color:#fff;transition:.5s;text-align:center;}
.jieshao .cpxjanniu .anniucp a:hover{float:right;width:280px;height:40px;background:#000;border-radius:20px;transition:.5s;}

#left{ width:96%; float:none; margin:0px auto;}
.product_class_list{ display:none;}
.moreck{ width:100%; background:#1664a8 url(../images/fl.png) 94% center no-repeat; background-size:8% auto; padding-left:3%; text-align:left; border:0px; color:#FFF; height:45px; line-height:45px; font-size:24px; display:block;}
.subbg{background:#efefef; padding-bottom:25px; width:100%;}
.subNav{border-bottom:1px solid #e1e0e0; line-height:45px; width:100%;}
.subNav a{ color:#666; font-size:14px; display:block;  padding:0 4%; width:80%;}
.subNav a:hover{ color:#fff; background:#1664a8;}

#right{ width:100%; float:none; margin-top:20px;}
.content_com_title{ position:relative;  height:45px;  margin-bottom:15px; border-bottom:2px solid #d0d0d0;}
.content_com_title h2{   display:inline-block;   padding:0  6px 6px 6px;  position:absolute;  left:0; top:10px;  border-bottom:2px solid #1664a8;
font-size:22px; font-weight:normal; color:#333333; text-align:left;}
.bread{ display:none;}

/*产品展示*/
.productlist{ margin-top:20px;}
.productlist li{display:inline; float:left; width:46%; margin:15px 2%; overflow:hidden; }
.productlist li img{display:block; height:16em; width:100%; object-fit: cover; border:1px solid #a09a9a;}
.productlist li .wenzi{ width:100%; color:#000000; font-size:14px; margin-top:10px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.productlist li a:hover img{ border:1px solid #1664a8;}
.productlist li a:hover .wenzi{ color:#1664a8;}

.height1{ height:0.8rem;}
.footer00{width:100%;height:0.8rem;position: fixed!important;bottom: 0;right: 0; z-index: 9999; -webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;-ms-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s; background:#1664a8;}
.foot{width:100%;position: fixed;height:0.8em;bottom:0;left:0;z-index:10;-webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;-ms-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s; }
.foot-relative{position:relative;width:100%;height:0.8rem;}
#foot a{ width:100%; display:block; text-align:center; color:#FFFFFF; font-size:22px; margin:0px auto; height:0.8rem; line-height:0.8rem;}
#foot a img{ margin:5px auto 0 auto; width:27px; height:27px; vertical-align:middle; }
}

